.favorites-page-wrapper,.favorites-container,.favorites-empty-container{
    width: 100%;
    display: flex;
   align-items: center;
}
/* .favorites-title{

} */
.favorites-container,.favorites-empty-container{
    margin-top: 3%;
    flex-direction: column;
}
.favorites-empty-container{
    margin-top: 3%;
}
.empty-title{
    font-size: clamp(2rem,1.5vw,3rem);
}
.empty-img{
    margin-top: 3%;
    scale: 1.2;
}
.empty-link{
    margin-top: 5rem;
    padding: 0 4rem;
    width: fit-content;
    background-color: var(--blue-3);
    height: 4.6rem;
    border-radius: 1.5rem;
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: none;
}

.favorites-filled-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.empty-link:hover{
background-color: inherit;
border: 1px solid var(--blue-3);
transition: .3s ease;
}